{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h3 class="my-4 border-bottom pb-1">login</h3>
        <div class="row">
            <table class="table table-bordered">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <tr>
                        <td>
                            <input type="submit" value="Login" class="btn btn-primary ">
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
{% endblock %}